.top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(6, 182, 212, 0.8);
    height: 6vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position:fixed;
    z-index: 100;
    top: 0;
    left:0;
    right:0;
}

.top-buttons {
    display: flex;
    justify-content: center;
    border-bottom:2px solid rgba(6, 182, 212, 0.2) ;
    gap: 2rem;
    padding-bottom: 1rem;
    position: fixed;
    top:8vh;
    left:0;
    right:0;
    padding-bottom: 1rem;
}

.top-buttons button {
    padding: 0.8rem 1.5rem;
    background-color: rgba(6, 189, 230, 0.675);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.top-buttons button:hover {
    background-color: rgba(6, 182, 212, 1);
}


body {
    background-color: rgba(167, 161, 161, 0.215);
    margin: 0;
    font-family: Arial, sans-serif;
    height:100vh;
}

#main {
    position: fixed;
    top:25vh;
    left:0;
    right:0;
    bottom: 1rem;
    margin: 0 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#titsub{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 9rem;
}

#content{
    min-height: 58%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0.5rem;
    width: 90%;
    overflow-y: auto;
    max-height: 30%;
    margin-bottom: 5rem;
}

#content:focus {
    outline: none;
    border-color: rgba(6, 182, 212, 0.8);
    box-shadow: 0 0 0 2px rgba(6, 182, 212, 0.2);
}

label {
    font-weight: bold;
    color: #333;
    font-size: 1.1rem;
}

#title{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 0.5rem;
    width:90%;
    
}

#title:focus {
    outline: none;
    border-color: rgba(6, 182, 212, 0.8);
    box-shadow: 0 0 0 2px rgba(6, 182, 212, 0.2);
}

#main button {
    background-color: rgba(6, 182, 212, 0.8);
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
}

#main button:hover {
    background-color: rgba(6, 182, 212, 1);
}
